#notebook {
    background-image: url("/paper.jpg");
    background-size: cover;
}
#ghci {
    font-size: 13pt;
    padding: 1em;
    margin: 1em;
    background-color: black;
    color: springgreen;
    font: monospace;
}
